#       _          _ _
#   ___| |__   ___| (_) ___  _   _ ___
#  / _ \ '_ \ / _ \ | |/ _ \| | | / __|
# |  __/ |_) |  __/ | | (_) | |_| \__ \
#  \___|_.__/ \___|_|_|\___/ \__,_|___/
# https://github.com/ebelious
#

set colored-completion-prefix On
set colored-stats On
set show-all-if-ambiguous On
set completion-ignore-case On
set completion-display-width 0
set completion-query-items 1000
set echo-control-characters off

